<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator blog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>


<h1 class="text-center">Moderator page</h1>


<!--<select class="form-select w-25 text-center m-3 mx-auto">-->
<!--    <option value="">All</option>-->
<!--    <option value="checked">Checked</option>-->
<!--    <option value="unchecked">Unchecked</option>-->
<!--</select>-->

<table class="table container">

    <thead class="bg-dark text-white">
    <tr>
        <th>Creator</th>
        <th>Blog Title</th>
        <th>Blog Topic</th>
        <th>Text</th>
        <th>Verify</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="blog :${blogs}">
        <td>
            <span th:text="${blog.user.firstname}"></span>
            <span th:text="${blog.user.lastname}"></span>
        </td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.topic}"></td>
        <td th:text="${blog.text}"></td>
        <td>
            <a th:href="@{/blogs/{blogId}/{verify}(blogId=${blog.id},verify=true)}">
                <button th:if="${!blog.checked}" class="btn btn-success">Tasdiqlash</button>
            </a>
            <a th:href="@{/blogs/{blogId}/{verify}(blogId=${blog.id},verify=false)}">
                <button th:if="${blog.checked}" class="btn btn-danger">Bekor qilish</button>
            </a>
        </td>
        <td>
            <div class="btn-group">

                <a th:href="@{/comments/verify_comment/{blogId}(blogId=${blog.id})}">
                    <button class="btn btn-warning"><i class="fa-solid fa-comment text-white"></i></button>
                </a>

                <!--                <button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>-->
                <!--                <a th:href="@{/moderator/{blogId}(blogId=${blog.id})}">-->
                <!--                    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>-->
                <!--                </a>-->
            </div>
        </td>
    </tr>

    </tbody>

</table>

</body>
</html>